.wrap {
    position: relative;
}

.sign_form {}

.sign_form>div {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.sign_form>div>span {}

.sign_form>div>input {
    width: 280px;
    height: 30px;
    padding: 10px 20px;
}