<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="header" id="header">
        <div class="header-wrap">
            <h1>
                <a href="/" title="홈으로">
            </h1>
            <!--로그인 X-->
            <ul>
                <li>IP : 0.0.0.0</li>
                <li>홍길동님</li>
                <li>로그인</li>
            </ul>
            <!--로그인 O-->
        </div>
    </div>

</body>

</html>