<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <title>Document</title>
</head>

<body>
    <div class="wrap">
        <div class="login_box">
            <form id="loginForm" name="loginForm" method="post">
                <div class="login_inner">
                    <div class="logo">logo</div>
                    <div class="login_tab">
                        <div class="login_form">
                            <div>
                                <input type="text" name="user_id_v" placeholder="학번">
                                <input type="password" name="user_pw_v" placeholder="비밀번호">
                            </div>
                            <a class="btn_login"><span>로그인</span></a>
                        </div>
                        <ul class="login_quick">
                            <li><a>아이디 찾기</a></li>
                            <li><a>비밀번호 찾기</a></li>
                        </ul>
                        <ul class="help_btn">
                            <li><a id="add_researcher" class="add_researcher">연구원 등록</a></li>
                            <li><a href="https://www.dongseo.ac.kr/kr/" target="_blank">메인 홈페이지</a></li>
                            <li><a href="https://im.dongseo.ac.kr/index.do" target="_blank">학사행정웹서비스</a></li>
                            <li><a href="https://unc.webminwon.com/index/choice.do" target="_blank">증명서 발급(학부)</a></li>
                        </ul>
                        <ul class="login_footer">
                            <li>개인정보처리방침</li>
                            <li>이메일무단수집거부</li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>